.navigation-buttons {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.navigation-buttons button {
  margin: 12px 40px;
  padding: 10px 20px;
  cursor: pointer;
  height: fit-content;
  font-size: larger;
  font-weight: bolder;
}

.home-link {
  position: absolute;
  top: 20px;
  left: 150px;
  font-size: large;
  font-weight: bold;
}

.navigation-buttons span {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 20px;
}

.navigation-buttons button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}